@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: #0f172a;
}
::-webkit-scrollbar-thumb {
  background: #334155;
  border-radius: 3px;
}
::-webkit-scrollbar-thumb:hover {
  background: #38bdf8;
}

@media print {
  /* Druckmodus optimiert für 1:1 Ausgabe auf DIN-A4 */
  body {
    background: white !important;
    color: black !important;
  }
  aside, header, .no-print {
    display: none !important;
  }
  main, canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 210mm !important;
    height: 297mm !important;
  }
}
